# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement
.venv/
venv/
.env


# Data
data/*
!data/
!data/.gitkeep
!data/climat/
!data/climat/dataset_clean_climat_V0_2_final_bis.csv

*.parquet
*.duckdb

# Logs
*.log

# OS
.DS_Store
Thumbs.db
*:Zone.Identifier

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
